<template>
<div>
    <!-- <div id="app" v-if="isLoaded">
        <v-app>
            <v-layout align-center justify-space-around wrap>
                <div class="pa-3">
                    <v-progress-circular color="primary" indeterminate :size="64"></v-progress-circular>
                </div>
            </v-layout>
        </v-app>
    </div> -->
    <v-container>
        <div class="d-block" style="pading-right:20px">
            <v-tooltip right>
                <template v-slot:activator="{ on, attrs }">
                    <v-icon color="#664E88" @click="Goback" class="icon-hover" cols="12" sm="2" md="2" v-bind="attrs" v-on="on" large>
                        mdi-chevron-left
                    </v-icon>
                </template>
                <span>Back</span>
            </v-tooltip>
        </div>
  <div>
      <v-container>
        <div v-for="team in result" :key="team.id" class="ml-2" style="border: darken(#f8f8f8, 10%); margin-top:10px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, .2); background-color:#DCE775; font-size: 30px; text-transform: uppercase; text-align:center">
            {{team.event_name}}
        </div>
        <div>
            <v-container>
                <v-row class="pt-4" md="12">

                    <h4 class="ml-3" style="margin-top:10px">Team name : </h4>
                    <span class="ml-6" style="margin-top:10px; padding-left:10px">{{team_name.charAt(0).toUpperCase() +team_name.slice(1)}}</span>

                    <!-- <h4 class="ml-3" style="margin-top:10px">Team captain : </h4>
                <span class="ml-6" style="margin-top:10px; padding-left:10px">{{team_captain.charAt(0).toUpperCase() +team_captain.slice(1)}}</span> -->

                    <div style="margin-top:10px">
                        <h4 class="ml-3">Description:</h4>
                        <p v-for="team in result" :key="team.id" class="ml-3" style="text-indent: 50px; ">
                            {{team.description}}</p>
                    </div>
                    <div style="margin-top:10px">
                        <h4 class="ml-3">Rules:</h4>
                        <div v-for="(event,i) in tEvent_rules" :key="i" class="ml-4">
                            <span>{{i+1}}. </span>
                            <span>{{event}}</span>
                        </div>
                    </div>
                    <table style="margin-top:10px">
                        <thead>
                            <tr>
                                <th>Sl no</th>
                                <th class="text-left">Team members</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in particularTeam" :key="index">
                                <!-- {{item}} -->
                                <td>{{index+1}}</td>
                                <td class="text-left">{{item.name.charAt(0).toUpperCase() +item.name.slice(1)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <v-row class="pt-4" md="12">
                        <v-col style="margin-top:10px">
                            <!-- <div v-if="result1.team_captain == captain.team_captain && result1.captain_rating ==null">
                                <v-card height="50" style="width:100%">
                                    <v-list-item>
                                        <v-rating v-model="rating" color="red lighten-3" background-color="grey lighten-1" large></v-rating>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="blue darken-1" class="mr-2" text @click="postrating">Rate
                                            </v-btn>
                                        </v-card-actions>
                                    </v-list-item>
                                </v-card>
                            </div>
                            <div v-else>
                                <v-card style="width:100%" height="50" color="light-green accent-1">
                                    <div style="text-align: center; padding: 14px">
                                        Team Rating: {{ teamRating }} out off 5 star
                                    </div>
                                </v-card>
                            </div> -->

                        </v-col>
                    </v-row>

                    <!-- </div> -->
                    <!-- </v-col> -->
                </v-row>
                
            </v-container>
        </div>
        </v-container>
  </div>
    </v-container>
</div>
</template>

<script>
import axios from "axios";
export default {
    data: () => ({
        //    isLoaded: true,
        particularTeam: [],
        rating: null,
        result: [],
        result1: [],
        readRating: true,
        teamRating: "",
        eTeam_name: [],
        team_name: "",
        event_rules: [],
        tEvent_rules: [],
        isRating: false,
        captain: ""
    }),
    mounted() {
        this.getTeamMembersById()
        console.log(this.$route.query.id)
        console.log(this.$route.query.event)
    },
    methods: {
        genColor(i) {
            this.rating = i + 1;
        },
        Goback() {
            this.$router.push({
                name: "History",
            });
        },
        postrating() {
            let ratingteam = {
                teamRating: this.rating,
            };
            // console.log(ratingteam,'=====');
            if (this.rating != null) {
                axios
                    .post(
                        `http://localhost:5000/postteamrating/postTeamRating/${this.$route.query.event}/${this.$route.query.id}`, {
                            ratingteam,
                        }
                    )
                    .then((response) => {
                        console.log(response, "zzzz");
                        if (response.status == 200) {
                            console.log(this.readRating);
                            this.readRating = false;
                            this.$router.push({
                                name: "HistoryTeam",
                                query: {
                                    id: this.$route.query.event,
                                },
                            });
                        }
                    });
            } else {
                console.log("close");
            }
        },
        getTeamMembersById() {
            axios.get(`http://localhost:5000/getteammembers/getteammembersbyids/${this.$route.query.id}/${this.$route.query.event}`, )
                .then((response) => {
                    console.log("data", response)
                     // this.isLoaded=false
                    this.result.push(response.data.team)
                    this.event_rules.push(response.data.team)
                    // console.log(this.event_rules);
                    this.result1 = response.data.foundIndex
                    this.captain=response.data.foundIndex

                    // console.log(result1,'====');
                    // let eTeam_name=[]
                    this.eTeam_name.push(response.data.foundIndex)
                    // console.log(this.eTeam_name);
                    this.eTeam_name.map((ele) => {
                        // console.log(ele.team_name);
                        this.team_name = ele.team_name
                    })
                    this.event_rules.map((element) => {
                        // console.log(element.event_rules);
                        let arr = element.event_rules
                        arr.map((ele) => {
                            // console.log(ele.Rules);
                            this.tEvent_rules.push(ele.Rules)
                        })
                    })
                    for (const [key, value] of Object.entries(this.result1)) {
                        // console.log(key, value);
                        this.particularTeam = value
                    }
                    //  this.particularTeam.map((ele)=>{
                    //     //  console.log(ele);
                    //  })
                    // console.log(this.particularTeam,'000');
                    // this.particularTeam.map((ele)=>{
                    //     console.log(ele.name);
                    // })
                });
        },

    }
}
</script>

<style scoped>
.butn {
    float: right;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr {
    border: darken(#f8f8f8, 10%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    margin: 0px;
    height: 50px;
}

table th,
table td {
    text-align: center;
    padding: 5px;
}

tr {
    padding: 2px;
    margin: 2px;
    height: 50px;
}

th {
    background-color: rgb(183, 184, 182);
}
.text-left {
    text-align: left !important;
}
</style>
