<template>
<!-- <img width="70px" height="54px"  class="mt-2" /> -->
<v-app-bar app>
    <router-link to="/Home">
        <img  style="margin-left: 0.7rem" width="70px" height="54px" src="@/assets/ND-logo.png" class="mt-2" />
    </router-link>

    <v-spacer></v-spacer>
    <v-tooltip bottom>
        <template v-slot:activator="{ on }">
            <v-btn icon  v-on="on" @click="currentEvents" >
                <v-avatar size="30">
                    <v-icon size="30" color="#6c645c">mdi-calendar</v-icon>
                </v-avatar>
            </v-btn>
        </template>
        <span>Currentevents</span>
    </v-tooltip>
    <v-tooltip bottom>
        <template v-slot:activator="{ on }">
            <v-btn icon  v-on="on" @click="endedEvents" >
                <v-avatar size="30">
                    <v-icon size="30" color="#6c645c">mdi-history</v-icon>
                </v-avatar>
            </v-btn>
        </template>
        <span>History</span>
    </v-tooltip>
    <v-tooltip bottom>
        <template v-slot:activator="{ on }">
            <v-btn dark icon v-on="on" class="mr-1" @click="logoutPage"  >
                <v-avatar size="30">
                    <v-img class="mx-1" :src="imageUrl" max-height="50" max-width="100"></v-img>
                </v-avatar>
            </v-btn>
        </template>
        <span>Logout</span>
    </v-tooltip>
    <v-dialog v-model="logoutDialog" max-width="500px">
        <v-card>
            <v-card-title>
                <div>Are you sure you want to logout?</div>
            </v-card-title>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="logoutBox"> No </v-btn>
                <v-btn color="blue darken-1" @click="logoutBox"> Yes </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-app-bar>
</template>

<script>
import apiCall from "../../apiCalls";
import {
  getAuth,signOut,} from 'firebase/auth';

export default {
    data() {
        return {
            logoutDialog: false,
        }
    },
    created() {
        this.getAuthDetails();
    },
    methods: {
        endedEvents() {
            // console.log('hhhh');
            this.$router.push({
                name: "History",
            });
        },
        currentEvents(){
             this.$router.push({
                name: "Events",
            });

        },
        logoutPage() {
            // console.log('jjj');
            this.logoutDialog = true;
        },
        logoutBox(event) {
            // console.log(event.target.innerText);
            if (event.target.innerText == "YES") {
              const auth = getAuth();
                    signOut(auth)
                    .then(() => {
                        localStorage.removeItem("user")
                        this.$router.replace({
                            name: "Login",
                        });
                    })
                    .catch((error) => {
                        console.log(error, 'err');
                    });
            }
            this.logoutDialog = false;
        },
        getAuthDetails() {
            let user = this.$store.state.user;
            // console.log(user);
            if (user.emailID == "") {
                this.$router.push("/login");
            } else {
                this.memberName = user.name;
                this.imageUrl = user.imageUrl;
                this.getAllEvents(user);
            }
        },
        async getAllEvents(user) {
            // console.log("here", user);
            let data = await apiCall.getAllEventsForEmailID({
                emailId: user.emailID,
                teamID: user.teamId,
                event_name: user.eventName,
                name: user.name,
            });
            // console.log(data.data.event.length);

            if (data.data.event.length != 0) {
                this.teamData = data.data;
                // console.log(this.teamData.event, "teet");
            } else {
                this.$router.push({
                    path: "Login",
                    query: {
                        msg: "invalidUrl"
                    }
                });
                // console.log("etst");
            }
        },

    },

}
</script>
<style scoped>
/* .himg {
  opacity: 0.4;
} */
</style>
