<template>
<div>
     <!-- <div id="app" v-if="isLoaded">
        <v-app>
            <v-layout align-center justify-space-around wrap>
                <div class="pa-3">
                    <v-progress-circular color="primary" indeterminate :size="64"></v-progress-circular>
                </div>
            </v-layout>
        </v-app>
    </div> -->
    <v-container>
        <div>
            <v-container>
                <!-- .charAt(0).toUpperCase() +teamData.event.event_name.slice(1) -->
                <div class="ml-6" style="border: darken(#f8f8f8, 10%); margin-top:10px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, .2); background-color:#BECE20; font-size: 30px; text-transform: uppercase; text-align:center">
                    {{teamData.event.event_name }}
                </div>
            </v-container>
        </div>

        <div class="mt-4">
            <v-container>
                <v-row class="pt-4" md="12">
                    <h4 style="margin-left:12px">Team name :</h4>
                    <span style="margin-left: 4px;">
                        {{teamData.teams.team_name.charAt(0).toUpperCase() +teamData.teams.team_name.slice(1) }} </span>
                </v-row>
            </v-container>
        </div>
        <div class="mt-4">
            <v-container>
                <v-row class="pt-4" md="12">
                    <h4 style="margin-left: 12px;">Team captain :</h4>
                    <span style="margin-left: 4px;">
                        {{teamData.teams.team_captain.charAt(0).toUpperCase() +teamData.teams.team_captain.slice(1) }}</span>
                </v-row>
            </v-container>
        </div>
        <div >
            <v-container>
                <v-row>
                    <v-col class="shrink" cols="12" sm="12" md="12">
                        <h4 style="margin-left: 2px;">Description:</h4>
                        <p style="text-indent: 50px; padding-left:2px">
                            {{teamData.event.description}}</p>
                    </v-col>
                </v-row>
            </v-container>
        </div>
        <div>
            <v-container>
                    <v-row>
                        <v-col class="shrink" cols="12" sm="12" md="12">
                            <h4 style="margin-left: 2px;">Rules:</h4>
                            <div style="margin-left: 2px; " v-for="(ruls, i) in teamData.event.event_rules" :key="i">
                                <span>{{i+1}}. </span>
                                <span style="padding:2px">{{ruls.Rules}}</span>
                            </div>
                        </v-col>
                    </v-row>
            </v-container>
        </div>
        <div>
            <v-container>
                <div>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-hover v-slot="{ hover }" open-delay="200">
                                <v-card class="ma-2 pa-2" :elevation="hover ? 16 : 2" :class="{ 'on-hover': hover }">
                                    <v-card-title>
                                        <p class="ml-3">
                                            {{ memberName }}
                                        </p>
                                    </v-card-title>

                                    <v-card-text>
                                        <v-timeline align-top dense>
                                            <v-timeline-item class="text-center" v-for="team in teamData.teams.team_member" :key="team.team_id" :color="teamData.teams.team_color" small>
                                                <!-- {{team}} -->
                                                <div class="font-weight-normal">
                                                    <div v-if="teamData.teams.team_captain == team.name">
                                                        <strong>{{ team.name }}</strong>
                                                        <v-icon style="padding-left:4px"> mdi-account-circle </v-icon>
                                                    </div>
                                                    <div v-else>
                                                        {{ teamData.event.team_captain }}
                                                        <strong>{{ team.name }}</strong>
                                                    </div>
                                                </div>
                                            </v-timeline-item>
                                        </v-timeline>
                                    </v-card-text>
                                </v-card>
                            </v-hover>
                        </v-col>

                        <v-col cols="12" sm="6" md="6">
                            <v-card class="ma-2 pa-2">
                                <v-card-title> Comments
                                </v-card-title>
                                <!-- {{Comments}} -->
                                <v-card-text class="flex-grow-1 overflow-y-auto" v-for="(msg, i) in Comments" :key="i">
                                    <!-- {{msg}} -->
                                    <div><span style="font-weight: bold;">{{ msg.content}}  </span>
                                        <span>  {{msg.created_at | formatDate }}</span>
                                        <span style="padding:10px">{{msg.name}}</span></div>
                                </v-card-text>
                                <v-card-text>
                                    <v-row>
                                        <v-col cols="11" xs="10" sm="10" md="10">
                                            <v-textarea v-model="content" ref="inputRef" auto-grow placeholder="add comments" rows="1" row-height="20"></v-textarea>
                                        </v-col>
                                        <!-- style="margin-top:20px; margin-left:10px; float:right;" -->
                                        <v-col cols="1" xs="1" sm="1" md="1">
                                            <v-icon style="margin-top:20px; margin-left:10px; float:right;" @click="addNewComments()" :disabled="!content">mdi-send</v-icon>
                                            <!-- <v-text-field v-model="messageForm.content" label="add comments" type="text" no-details outlined append-outer-icon="mdi-send" @keyup.enter="addNewComments" @click:append-outer="addNewComments" hide-details rows="1" row-height="20"  /> -->
                                        </v-col>
                                    </v-row>
                                </v-card-text>
                            </v-card>
                        </v-col>
                    </v-row>
                </div>
            </v-container>
        </div>
    </v-container>
</div>
</template>

<script>
import apiCall from "../apiCalls";
// import Comments from "../components/Comments/comments"
import axios from "axios";
export default {
    // components: {
    //     Comments
    // },
    data: () => ({
   //    isLoaded: true,
        activeChat: 1,
        expand: false,
        reveal: false,
        eventName: "",
        orgName: "Navadhiti Events",
        memberName: "",
        expand: false,
        imageUrl: "",
        drawer: false,
        group: null,
        teamData: {},
        Comments: [],
        content: "",
    }),
    mounted() {
        this.getAuth()
    },
    methods: {
        addNewComments() {
            this.Comments = []
            // console.log(this.teamData.event._id,'0000');
            let user = this.$store.state.user;
            let teamComments = [{
                event_id: this.teamData.event._id,
                team_id: this.teamData.teams.team_id,
                emailID: user.emailID,
                eventName: user.eventName,
                name: user.name,
                content: this.content,
                created_at: new Date().toLocaleString()
            }]
            axios.post("http://localhost:5000/postteam/postTeamComments", {
                    teamComments
                })
                .then((response) => {
                    // console.log(response), 'responsesssss';
                    // this.addNewComments()           
                    this.$refs.inputRef.reset()
                    this.getComments()
                })
                .catch((err) => {
                    console.log(err, 'errrrr');
                })

            this.content = ''
            // this.messageForm = {
            //     content: "",
            //     me: true,
            //     created_at: new Date().toLocaleString()
            // }
        },
        getComments() {
            this.Comments = []
            // console.log(this.teamData.teams.team_id);

            let user = this.$store.state.user;
            let params = {
                eventID: this.teamData.event._id,
                team_id: this.teamData.teams.team_id,
                emailID: user.emailID,
                eventName: user.eventName,
                name: user.name,
            }
            //   console.log(userDetails,'userd');
            axios.get("http://localhost:5000/getteam/getTeamComments", {
                    params
                })
                .then((response) => {
                    // console.log(response.data, '9999999999999999');
                    //  let teamCommentsResult = response.data
                    response.data.map((ele) => {
                        //   console.log(ele, "0");

                        //  this.Comments=(ele)
                        ele.map(element => {
                            //   console.log(element.event_id);
                            this.Comments.push(element)
                        });
                    })
                    console.log(this.Comments);
                }).catch((err) => {
                    console.log(err, 'errrrrrrrr');
                })
        },
        getAuth() {
            let user = this.$store.state.user;
            // console.log(user,'kkkk');
            if (user.emailID == "") {
                this.$router.push("/login");
            } else {
                this.memberName = user.name;
                this.imageUrl = user.imageUrl;
                this.getAllEvents(user);
                // this.isLoaded=false
            }
        },
        async getAllEvents(user) {
            // console.log("here", user);
            // console.log('000',user.emailID);
            let data = await apiCall.getAllEventsForEmailID({
                emailId: user.emailID,
                teamID: user.teamId,
                event_name: user.eventName,
                name: user.name,
            });
            // console.log(data.data.event.length);

            if (data.data.event.length != 0) {
                this.teamData = data.data;
                this.getComments()
                // console.log(this.teamData, "teet");
            } else {
                this.$router.push({
                    path: "Login",
                    query: {
                        msg: "invalidUrl"
                    }
                });
                // console.log("etst");
            }
        },
    },
};
</script>

<style>
.v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
}

.butn {
    float: left;
}
</style>
