<template>
<div>
    <p>{{ msg }}</p>
    <v-img class="mx-2" :src="require('@/assets/eventLogo.jpeg')"></v-img>
</div>
</template>

<script>
export default {
    data() {
        return {
            msg: "HI Welcome to the event app, please click on the event invitation link ",
        };
    },
    mounted() {
        console.log(this.$route.params, 'landing');
        if (this.$route.query.msg == "invalidUrl") {
            this.msg =
                "please check your offical email for valid event invitation link";
        } else if (this.$route.query.msg == "invalidEmail") {
            this.msg = "please login with your Navadhiti emailid";
        }
    },
};
</script>

<style>
</style>
