<template>
<div>
     <!-- <div id="app" v-if="isLoaded">
        <v-app>
            <v-layout align-center justify-space-around wrap>
                <div class="pa-3">
                    <v-progress-circular color="primary" indeterminate :size="64"></v-progress-circular>
                </div>
            </v-layout>
        </v-app>
    </div> -->
    <v-container>
        <div style="text-align: center; padding: 14px">
            <h2>Currents events</h2>
        </div>
        <template>
            <v-row>
                <v-col cols="12" md="4" sm="4" v-for="item in result" :key="item.id" @click="showTeam(item)">
                    <template >
                        <v-card class="mx-auto my-12 " max-width="400" style="cursor: pointer;">
                            <template slot="progress">
                                <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
                            </template>

                            <v-img style=" width:400px; height:250px;" :src="getImgUrl(item.event_img)" v-bind:alt="item.event_img"></v-img>

                            <v-card-title>
                                <h5 class="ml-2" style="border: darken(#f8f8f8, 10%); margin-top:18px;
                                  text-transform: uppercase; text-align:center">{{item.event.event_name}}</h5>
                            </v-card-title>

                            <v-card-text>
                                <v-row align="center" class="mx-0">
                                    <h4 style="margin-left: 8px;">Team name :</h4>
                                    <span style="margin-left: 8px;">{{
                                     item.teams.team_name.charAt(0).toUpperCase() +item.teams.team_name.slice(1) 
                                  }}</span>
                                </v-row>
                                <v-row align="center" class="mx-0">
                                    <h4 style="margin-left: 8px;">Team captain :</h4>
                                    <span style="margin-left: 4px;">{{
                                     item.teams.team_captain.charAt(0).toUpperCase() +item.teams.team_captain.slice(1) 
                                  }}</span>
                                </v-row>
                            </v-card-text>
                        </v-card>
                    </template>
                </v-col>
            </v-row>

        </template>
    </v-container>
</div>
</template>

<script>
import axios from "axios";
export default {
    data: () => ({
        // isLoaded: true,
        memberEmailID: "",
        historyTeamData: "",
        result: [],
        rating: null,
        teamId: null,
        captain: "",
        event_img: null,
    }),
    mounted() {
        this.getDetails()
    },
    methods: {
        getImgUrl(pic) {
            // console.log(pic);
            let images = require.context('../../assets', false)
            return images('./' + pic)
        },
        showTeam(team) {
            // console.log(team.event._id, 'teamssssssssss');
            // console.log(team.teams.team_id, 'teamssssssssss');
            this.$router.push({
                name: "CurrentEvents",
                query: {
                    action: "team members",
                    id: team.event._id,
                    event: team.teams.team_id
                }
            });

        },
        getDetails() {
            let user = this.$store.state.user;
            this.captain = this.$store.state.user.name
            // console.log(this.captain)
            if (user.emailID == "") {
                this.$router.push("/login");
            } else {
                this.memberEmailID = user.emailID;
                this.getAllEventsForEmailiD(user);
                 // this.isLoaded=false
            
            }
        },
        getAllEventsForEmailiD(user) {
            // console.log(user.emailID, 'kkk')
            let params = {
                email: user.emailID
            }
            axios.get("http://localhost:5000/getteam/getAllEventsForEmailIDs", {
                    params
                })
                .then((response) => {
                    // console.log(response, '999');
                    let historyEventData = response.data.team;
                    // console.log(this.files,'uryewurewruewr');
                    historyEventData.map((ele) => {
                        // console.log(ele);
                        this.result.push(ele)
                    })
                });
        },

    }
}
</script>

<style scoped>
.butn {
    float: right;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr {
    border: darken(#f8f8f8, 10%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    margin: 0px;
    height: 50px;
}

table th,
table td {
    text-align: center;
    padding: 5px;
}

tr {
    padding: 2px;
    margin: 2px;
    height: 50px;
}

th {
    background-color: rgb(183, 184, 182);
}
</style>
